/**********************************************
		BASIC STYLING

		**************************************/

		body {

			color: $color__body;
			font-weight: 400;
			font-family: $font__primary;
			font-size: 10px;
		
			@media(min-width:992px) {
				font-size: 16px;
			}
		}