/**********************************************
		POSITIONNING

		**************************************/


.content-area.top-spacing {
	margin-top:5em;
}

.section {

	&.regular-spacing {
		margin: 3em 0; 
	}


	&.half-spacing {
		margin: 1.75em 0;
	}

	&.double-top-spacing {
		margin-top: 5.4em;
	}

	&.double-bottom-spacing {
		margin-bottom: 5.4em;
	}

	&.regular-padding {
		padding: 5em 0;
	}

	&.border-padding {
		.container {
			padding: 5.4em 0;
			border-bottom: 1px solid #dee2e6;
		}
	}

	&.half-padding {
		padding: 2.5em 0;
	}

	&.total-half-padding {
		padding: 2.5em;
	}

	&.third-padding {
		padding: 1.8em 0;
	}

	&.extra-padding-bottom {
		padding-bottom: 5em;
	}
}

.padding-bottom-border {
	padding-bottom: 3em;
	border-bottom: 1px solid #dee2e6;
}

.padding-top-border {
	padding-top: 3em;
}
		
.global-container {
  max-width: 1640px;
  margin: 0 auto;
}

.steps-list {
	li {
		width: 100%;

		@media(min-width:992px) { 
			/* width:24%; */
		}
	}

	@media(min-width:992px) {
		.portrait  {
			/* left:50%;
			transform: translateX(-50%); */
			

			img {
				max-width: 200px;
			}

		}
	}

}

#customer_stories {
	margin-top: 3em;

	@media(min-width: 992px) {
		margin-top: 10em;
	}
}


.icon-item .text {
	width: 50%;
	margin: 0 auto;
}


@media (min-width: 1200px) {
	.container {
		max-width: 1230px!important;
	}
}


@media (min-width: 375px) {
	.sections-two-col {
		.background-image {
			height: 300px;
			order:2;
		}
	}
}

@media (min-width: 440px) {
	.sections-two-col {
		.background-image {
			height: 440px;
			order:2;
		}
	}
}

@media(min-width:768px) {
	.sections-two-col {

		.background-image {
			height: auto;
			order: 0;
		}

		.col {
			padding: 10em 0;
		}

		.right {
			order: 2;
		}	
	}
}

#section2 {
	width:80%;
	margin-right: auto;
	margin-left: auto;

	@media(min-width: 992px) {
		width: auto;
	}
}

.steps-list {
 
	li {
		margin-top: 1.5em;
		margin-right: 1em;
	}

		@media(min-width: 768px) {
			li.w100 {
				flex-basis: 100%;
			}
			li.w50 {
				flex-basis: 50%;
			}
			li.w33 {
				flex-basis: 33%;
			}
			li.w25 {
				flex-basis: 25%;
			}
			li.w20 {
				flex-basis: 20%;
			}
			li.w16 {
				flex-basis: 16%;
			}
			li.offset:nth-child(2) {
				margin-top:3em;
			}
			li.offset:nth-child(3) {
				margin-top:4.5em;
			}
			li.offset:nth-child(4) {
				margin-top:6em;
			}
			li.offset:nth-child(5) {
				margin-top:7.5em;
			}
			li.offset:nth-child(6) {
				margin-top:9em;
			}
		}
}