/**********************************************
		TITLES STYLING

		**************************************/

h1 {
  
  font-size: 1.9em;
  font-weight: $bold;
  

  &.colored {
    font-size: 1.25em;
    color: $color__h1;
    text-transform: uppercase;
    font-weight: $medium;
  }
}

h2 { 
  font-size: 1.3em;
  font-weight: $bold;
  line-height:1.3;
  margin-bottom: 1rem;
  
  @media(min-width: 992px) {
    margin-bottom: 2rem;
  }

  &.entry-title {
    width: 70%;
    margin-bottom: .8rem;
  }
}

.faq-item {
  h2 {
    &.entry-title {
      font-size: .9em;
    }
  }
}

h2.intro-title {
  font-size: 1.87em;
  font-weight: $bold; 
  line-height: 1.5;
}

.background-dark h2 {
  color: white;
  font-size: 3em;
}

h3, .post-type {
  color: $color__accent;
  font-size: 1em;
  font-weight: $bold;
  margin-bottom: 1.5em;
  line-height: 1.5;
}

h4 {
  font-size: 0.93em;
  font-weight: $bold;
}