/**********************************
	COLORS
	***********************************/
$color__primary: #343434;
$color__accent: #FF1938;
$color__dark: #2C3B4B;
$color__main_alpha: rgba(8,156,102,.5);
$color__main_a25: rgba(8,156,102,.25);
$color__dark_alpha: rgba(44,59,75,.5);
$color__white_alpha: rgba(255,255,255,.5);
$color__secondary: #F6F4EC;
$color__light: #F6F4EC;
$color__body: #343434;

$color__border-button: rgba(255, 254, 247, .5);

$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;


 
/* $color__primary: #750D37;
$color__secondary: #8dab9d;
$color__background-light-grey: #F3F3F3; */

$font__primary: 'Poppins', sans-serif;
$font__secondary:'Work Sans', sans-serif;

/* $color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #4169e1; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue
$color__text-main: #404040;


$color__border-input: #ccc;
$color__border-abbr: #666; */
